{% extends "logintemplate.html" %}
{% block navbar %}
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/userprofile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
{% endblock %}
    <script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};

    </script>
{% block content %}
<center>
    <h1 class="font1">Upload Clothes to Your Wardrobe </h1>
<h2 class="font1">You are logged in as {{ current_user.uname }} </h2>
<a href='/fashion'class="specialbutton">Upload To Wardrobe</a> <a href='/select' class="specialbutton">Outfit Recommender</a> 
<br><br>
<form action="/fashionpredict" method="POST" enctype="multipart/form-data">
    <input type="file" id='img' name='img' onchange="loadFile(event)" >
    <p><img id="output" width="200" src="{{url_for('static', filename='test.jpg')}}" alt="" /></p>
    <br>
    <br>
    <input type="submit" value="Predict Type And Color Of Outfit">
</form>
<form action="/upload" method="POST" enctype="multipart/form-data">
<!---- <label for="occasion"> <h3 style="display:inline">The Outfit is for: </h3></label>
          <select name="occasion" id="occasion">
            <option value="party">Party</option>
            <option value="office">Office</option>
            <option value="sports">Sports</option>
            <option value="function">Function</option>
          </select>
        <br> <br>  --->  
 <label for="type"> <h3 style="display:inline">Type of the Outfit is: </h3></label>
    <input type="text" id="type" name="type" placeholder="{{pred}}" value="{{pred}}">  
     <br> <br>
<label for="color"> <h3 style="display:inline">Color Of Outfit is: </h3></label>
    <input type="text" id="color" name="color" placeholder="{{pred2}}" value="{{pred2}}">  <br><br>
    <input type="submit" value="Upload">
</form>
<h3>{{pred3}}</h3>
<h3>{{pred4}}</h3>
<h3>{{pred5}}</h3>
</center>
{% endblock %}
</html>